.base{
    align-items: center;
    text-align: center;
background-size: cover;
     width: 25rem;
     padding: 60px;
     background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2548.jpg");

     
}

.size{
    padding-left: 30px;
    padding-right:30px
}
.ls{
  position: relative;
  margin-left: 37%;
}
.btl{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    background-color: seashell;
    border-radius: 5pc;
}
.btl:hover{
    background-color: grey;
    color: aliceblue;
    transform: translateY(-5px);
}

.big{
    background-size: cover;
    height: 95vh;
}